<div class="col-md-4 portfolio-item">
    <a href="https://github.com/Agontuk/react-native-collapsible-toolbar">
        <img class="img-responsive"
            src="{{ '/assets/images/collapsible-toolbar.jpg' | relative_url }}" alt=""
        />
    </a>
    <h3>
        <a href="https://github.com/Agontuk/react-native-collapsible-toolbar">schema-builder</a>
        <span>
            <iframe
                src="https://ghbtns.com/github-btn.html?user=Agontuk&repo=react-native-collapsible-toolbar&type=star&count=true"
                frameborder="0"
                scrolling="0"
                width="160px"
                height="30px"
            ></iframe>
        </span>
    </h3>
    <p>Pure JS based collapsible toolbar for react native on Android and iOS.</p>
</div>
