<div class="col-md-4 portfolio-item">
    <a href="https://github.com/Agontuk/react-native-geolocation-service">
        <img class="img-responsive"
            src="{{ '/assets/images/geolocation-service.jpg' | relative_url }}" alt=""
        />
    </a>
    <h3>
        <a href="https://github.com/Agontuk/react-native-geolocation-service">
            react-native-geolocation-service
        </a>
        <span>
            <iframe
                src="https://ghbtns.com/github-btn.html?user=Agontuk&repo=react-native-geolocation-service&type=star&count=true"
                frameborder="0"
                scrolling="0"
                width="160px"
                height="30px"
            ></iframe>
        </span>
    </h3>
    <p>React native geolocation service for iOS and android.</p>
</div>
