<div class="col-md-4 portfolio-item">
    <a href="{{ site.baseurl }}{% link schema.md %}">
        <img class="img-responsive"
            src="{{ '/assets/images/schema-designer.jpg' | relative_url }}" alt=""
        />
    </a>
    <h3>
        <a href="https://github.com/Agontuk/schema-designer">schema-designer</a>
        <span>
            <iframe
                src="https://ghbtns.com/github-btn.html?user=Agontuk&repo=schema-designer&type=star&count=true"
                frameborder="0"
                scrolling="0"
                width="160px"
                height="30px"
            ></iframe>
        </span>
    </h3>
    <p>Design your database schema with ease</p>
</div>
