<div class="col-md-4 portfolio-item">
    <a href="https://github.com/Agontuk/babel-plugin-vue-jsx-hot-reload">
        <img class="img-responsive"
            src="{{ '/assets/images/babel-plugin-vue-jsx-hot-reload.png' | relative_url }}" alt=""
        />
    </a>
    <h3>
        <a href="https://github.com/Agontuk/babel-plugin-vue-jsx-hot-reload">
            babel-plugin-vue-jsx-hot-reload
        </a>
        <span>
            <iframe
                src="https://ghbtns.com/github-btn.html?user=Agontuk&repo=babel-plugin-vue-jsx-hot-reload&type=star&count=true"
                frameborder="0"
                scrolling="0"
                width="160px"
                height="30px"
            ></iframe>
        </span>
    </h3>
    <p>Babel plugin for hot reloading Vue 2.0 JSX components</p>
</div>
