<div class="col-md-4 portfolio-item">
    <a href="{{ site.baseurl }}{% link cropper.md %}">
        <img class="img-responsive"
            src="{{ '/assets/images/vue-cropperjs.jpg' | relative_url }}" alt=""
        />
    </a>
    <h3>
        <a href="https://github.com/Agontuk/vue-cropperjs">vue-cropperjs</a>
        <span>
            <iframe
                src="https://ghbtns.com/github-btn.html?user=Agontuk&repo=vue-cropperjs&type=star&count=true"
                frameborder="0"
                scrolling="0"
                width="160px"
                height="30px"
            ></iframe>
        </span>
    </h3>
    <p>A Vue component for cropping images, based on
        <a href="https://github.com/fengyuanchen/cropperjs">
            https://github.com/fengyuanchen/cropperjs
        </a>
    </p>
</div>
