<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>
        {% if page.title %}{{ page.title | escape }}{% else %}{{ site.github.owner_name }}'s {{ site.title | default: site.github.repository_name }}{% endif %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta
        name="description"
        content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"
    >

    <link href="{{ '/assets/css/cropper/chunk-vendors.d627bc19.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/cropper/app.3cb6f334.css' | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="{{ '/assets/js/cropper/chunk-vendors.547a48c0.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/cropper/app.b4ed8b04.js' | relative_url }}"></script>
    {% include analytics.html %}
  </body>
</html>
