<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta content="{{ site.url }}{{ '/assets/images/schema-designer.jpg' }}" property="og:image" />
        <meta content="object" property="og:type" />
        <meta content="Schema Designer" property="og:title" />
        <meta content="https://agontuk.github.io/schema-designer/" property="og:url" />
        <meta content="A tool for designing database schema" property="og:description" />

        <title>
            {% if page.title %}{{ page.title | escape }}{% else %}{{ site.github.owner_name }}'s {{ site.title | default: site.github.repository_name }}{% endif %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta
            name="description"
            content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"
        >

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Roboto" />
        <link
            href="{{ '/assets/css/schema.css?v=' | append: site.github.build_revision | relative_url }}"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="{{ '/assets/js/jsplumb.min.js' | relative_url }}"></script>
        <script type="text/javascript" src="{{ '/assets/js/schema.js' | relative_url }}"></script>
        {% include analytics.html %}
    </body>
</html>
